/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* COMMON/UTILITY */
html {
    font-family: 'Open Sans', sans-serif;
}

.col {
    float: left;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container2 {
    width: 60%;
    margin: 0 auto;
}

.mt-2 {
    margin-top: 2em;
}

.mr-2 {
    margin-right: 2em;
}

.mb-2 {
    margin-bottom: 2em;
}

.ml-2 {
    margin-left: 2em;
}

.vertical-padding {
    padding: 2em 0;
}

.horizontal-padding {
    padding: 0 1em;
}

.underline {
    text-decoration: underline;
}

.line-height2 {
    line-height: 2em;
}

/* BACKGROUND */
.bg-green {
    border: 5px solid #d0e9cd;
    background-color: #a2d39b;
    padding: 5px;
}

.bg-brown {
    background-color: #61082b;
}

.bg-azure {
    background-color: #0093ce;
}

.bg-tomato {
    background-color: #ff1c1c;
}

.bg-bordeaux {
    background-color: #d5001f;
}

.bg-celest {
    background-color: #b4d0e7;
}

.bg-blue {
    background-color: #0d2481;
}

.bg-yellow {
    background-color: #ffd830;
}

/* BOTTONI */
.blue-btn {
    margin-left: 1em;
    padding: .5em 1.5em;
    font-size: .8em;
    background-color: #0061ff;
    color: white;
}

.white-btn {
    padding: .5em 1.5em;
    font-size: .8em;
    color: grey;
    border: 1px solid grey;
}

/* HEADER */
header {
    line-height: 50px;
    /* test */
    /* height: 50px; */
}
.nav-logo {
    width: 12.5%;
    text-align: center;
    /* test
    height: 50px;
    background-color: red; */
}

.nav-logo img {
    vertical-align: middle;
    width: 110px;
}

.nav-center-menu {
    width: 52%;

    /* test
    height: 50px;
    background-color: aquamarine; */
}

nav li {
    display: inline-block;
}

nav a {
    padding: 0 .8em;
    text-decoration: none;
    color: black
}

.nav-right-menu {
    width: 35.5%;

    /* test
    height: 50px;
    background-color: blueviolet; */
}

/* JUMBOTRON */
.jumbotron {
    /* test */
    background-color: #b4d0e7;
    height: 580px;
}

.jumbo-title {
    font-size: 4em;
    /* test */
    /* height: 100px;
    background-color: bisque; */
}

.text-col {
    width: 35%;
    margin-top: 1em;
    /* test */
    /* height: 250px; */
    /* background-color: brown; */
}

.jumbo-btn {
    margin: 1em -.8em;
}

#jumbo2 {
    color: black;
}

#arrow {
    font-size: 3em;
    margin-top: 1em;
}

#arrow a {
    color: black;
}

.image-col {
    width: 65%;
    margin-top: 1em;

    /* test */
    /* height: 400px;
    background-color: blueviolet; */
}

/* SEZIONE PIANO DROPBOX */
.dropbox-plan .container {
    width: 60%;
    margin-top: 2.5em;
}

.plan-top {
    
    /* test */
    /* height: 150px;
    background-color: aquamarine; */
}

.plan-top .plan-title {
    
    /* test */
    font-size: 2em;
    /* background-color: yellow; */
}

.radio1, .radio2 {
    display: inline-block;
    margin-right: 1em;
}

.plan-bottom {
    /* test */
    height: 1000px;
    /* background-color: yellowgreen; */
}

.side-plan-col {
    width: calc((100%/3) - 10px);

    /* test */
    height: 95%;
    border: 1px solid #d0d0d3;
}

.center-col {
    margin: 0 15px;
}

.plan-bottom .icon-header {
    text-align: center;
    padding: .3em;
    border-bottom: 1px solid #d0d0d3;
}

.main-colon {
    margin-left: 1em;
    line-height: 3em;
    font-size: 0.9em;
}

.main-colon #a-capo {
    margin-left: 1.1em;
}

.main-colon .blue-btn {
    padding: .5em 4em;
}

.acquista-ora {
    display: inline-block;
    margin-left: .8em;
    border-bottom: 1px solid #d0d0d3;
}

.acquista-ora2 a {
    text-decoration: underline;
    color: #0061ff;
}

.col-list {
    margin-top: 1em;
}

/* SEZIONE ENTERPRISE */
.enterprise .container {
    width: 60%;
}
.enterprise .icon-header {
    padding: .2em;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

.enterprise-top {
    /* test */
    /* height: 200px; */
    border: 1px solid #d0d0d3;
    position: relative;
}

.enterprise-top h2 {
    padding: 1em 1em;
    display: inline-block;
}

.enterprise-top span {
    position: absolute;
    top: 4em;
    right: 1em;
}

.enterprise-top .enterprise-p {
    padding: 1.5em;
}


.enterprise-image {
    width: 50%;

    /* test */
    /* height: 300px;
    background-color: bisque; */
}

.enterprise-text {
    width: calc(50% - 10px);
    padding-left: 2em;
    line-height: 1.8em;

    /* test */
    /* height: 300px;
    background-color: blueviolet; */
}

.content-square .container {
    width: 60%;
}

.content-square h1 {
    font-size: 2.5em;
}

.side-square {
    width: calc((100%/3) - 60px);
    margin: 10px 30px;

    /* test */
    /* height: 200px; */
    /* background-color: aqua; */
}

.five-thousand-section .container {
    width: 60%;
    padding-left: 1em;
    margin-top: 6em;
    font-size: 1.5em;
}

.five-thousand-section a {
    color: #0061ff;
}

.side-square-partner {
    width: 450px;
    /* test */
    /* height: 500px;
    background-color: red; */
}

.partner-square {
    width: 225px;
    height: 225px;
    position: relative;
}

.partner-square img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designit-col {
    width: calc(100% - 900px);
    /* test */
    height: 450px;
    background-color: #f5f5f5;
}

.designit-logo img {
    width: 30%;
    border-bottom: 1px solid #d0d0d3;
}

.designit-logo {
    padding: 3em 3em;
}

.designit-text {
    padding: 0 3em;
}

.partnerships {
    height: 800px;
    background-color: #b4d0e7;
    position: relative;
}

.partnerships .container h1 {
    display: inline-block;
    font-size: 3em;
    color: #61082b;
}

.partnerships .container {
    position: absolute;
    bottom: 6em;
    left: 14em;
}

.prova-ora {
    display: inline-block;
    position: absolute;
    bottom: 6em;
    right: 6em;
}

.prova-ora a {
    background-color: white;
    padding: .8em 2em;
}