/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

li {
    list-style: none;
}

/* COMMON/UTILITY */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.col {
    float: left;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.mt-2 {
    margin-top: 2em;
}

.mr-2 {
    margin-right: 2em;
}

.mb-2 {
    margin-bottom: 2em;
}

.ml-2 {
    margin-left: 2em;
}

.vertical-padding {
    padding: 2em 0;
}

.horizontal-padding {
    padding: 0 2em;
}

/* BOTTONI */
.blue-btn {
    margin-left: 1em;
    padding: .5em 1.5em;
    font-size: .8em;
    background-color: #0061ff;
    color: white;
}


/* HEADER */
header {
    line-height: 50px;
    /* test */
    height: 50px;
}
.nav-logo {
    width: 12.5%;
    text-align: center;
    /* test
    height: 50px;
    background-color: red; */
}

.nav-logo img {
    vertical-align: middle;
}

.nav-center-menu {
    width: 52%;

    /* test
    height: 50px;
    background-color: aquamarine; */
}

nav li {
    display: inline-block;
}

nav a {
    padding: 0 .8em;
    text-decoration: none;
    color: black
}

.nav-right-menu {
    width: 35.5%;

    /* test
    height: 50px;
    background-color: blueviolet; */
}

/* JUMBOTRON */
.jumbotron {
    /* test */
    background-color: #b4d0e7;
    height: 500px;
}

.jumbo-title {
    /* test */
    height: 100px;
    background-color: bisque;
}

.text-col {
    width: 40%;
    /* test */
    height: 250px;
    background-color: brown;
}

.image-col {
    width: 60%;

    /* test */
    height: 400px;
    background-color: blueviolet;
}

/* SEZIONE PIANO DROPBOX */
.plan-top {
    
    /* test */
    margin-top: 6em;
    height: 150px;
    background-color: aquamarine;
}

.plan-top .plan-title {
    
    /* test */
    height: 25px;
    background-color: yellow;
}

.plan-top input {

    /* test */
    margin-right: 10em;
}

.plan-bottom {
    /* test */
    height: 600px;
    background-color: yellowgreen;
}

.side-plan-col {
    width: calc((100%/3) - 10px);
    margin: 0 5px;

    /* test */
    height: 95%;
    border: 2px solid red;
}

.enterprise-top {
    /* test */
    height: 200px;
    border: 3px solid red;
}

.enterprise-top h3 {
    text-align: center;
    /* test */
    height: 15%;
    border: 3px solid black;
}

.enterprise-image {
    width: 50%;

    /* test */
    height: 300px;
    background-color: bisque;
}

.enterprise-text {
    width: calc(50% - 5px);
    margin-left: 5px;

    /* test */
    height: 300px;
    background-color: blueviolet;
}

.content-square h1 {

    /* test */
    height: 100px;
    background-color: red;
}

.side-square {
    width: calc((100%/3) - 10px);
    margin: 5px 5px;

    /* test */
    height: 200px;
    background-color: aqua;
}